:root {
  --dark: #212529;
  --light: #f5f5f5;
}

.container {
  padding: 0 1rem 0 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

.navbar {
  height: auto;
  margin: 20px;
  transition: all 0.3s ease-in-out;
}

.navbar-fixed {
  background-color: var(--light);
  border-radius: 1.75rem;
  padding: 0.5rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.25);
}

html[data-bs-theme="dark"] .navbar-fixed {
  background-color: rgba(43, 47, 51, 1);
}

.navbar-toggler {
  font-size: 1rem;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.btn-close:focus,
.btn-close:active {
  border: none;
  outline: none;
  box-shadow: none;
}

.hamburger {
  width: 27px;
  height: 2px;
  background-color: black;
  display: block;
  margin: 8px 0;
}

html[data-bs-theme="dark"] nav.navbar-fixed .hamburger {
  background-color: var(--light);
}

.navbar-brand img {
  width: 3.75rem;
  height: 3.75rem;
}

.offcanvas-logo {
  width: 5rem;
  height: 5rem;
}

.nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
  display: inline-block; /* Make width relative to the content (text) */
  position: relative; /* Ensure the ::before element is positioned relative to this */
  max-width: max-content; /* Optional: Ensures the width is exactly as much as the content */
}

@media (max-width: 991px) {
  .nav-link {
    font-size: 1.1rem;
  }

  .offcanvas-header {
    display: flex;
    justify-content: space-around;
  }

  .offcanvas-logo {
    width: 4rem;
    height: 4rem;
  }
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--dark);
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.nav-link:hover::before,
.nav-link.active::before {
  width: 100%;
  visibility: visible;
}

[data-bs-theme="dark"] nav.navbar-fixed .nav-link::before {
  background-color: var(--light);
}

[data-bs-theme="dark"] .nav-link.active {
  color: var(--dark);
}

[data-bs-theme="dark"] nav.navbar-fixed .nav-link.active {
  color: var(--light);
}

[data-bs-theme="dark"] .nav-link:hover::before,
[data-bs-theme="dark"] .nav-link.active::before {
  width: 100%;
  visibility: visible;
}

.nav-link.active,
.nav-link:hover {
  color: var(--dark);
}

html[data-bs-theme="dark"] nav.navbar-fixed .nav-link:active,
html[data-bs-theme="dark"] nav.navbar-fixed .nav-link:hover {
  color: var(--light);
}

@media (max-width: 991px) {
  [data-bs-theme="dark"] .nav-link.active {
    color: var(--light);
  }

  [data-bs-theme="dark"] .nav-link::before {
    background-color: var(--light);
  }

  .nav-link.active,
  .nav-link:hover {
  color: var(--light);
}
}

.top-banner {
  width: 100%;
  background: url("../img/bg-vr.jpg") no-repeat center;
  background-size: cover;
  padding: 17rem 0 9.4rem;
  position: relative;
}

.top-banner::after, .top-banner::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  transition: opacity 0.3s ease-in-out; /* Transition effect */
  z-index: 1; /* Ensure it's on top */
  pointer-events: none;
  transition-delay: 0;
}

/* Light mode gradient */
.top-banner::after {
  transition-delay: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  opacity: 1; /* Initially visible */
}

/* Dark mode gradient */
.top-banner::before {
  transition-delay: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #212529);
  opacity: 0; /* Initially hidden */
}

/* Switch to dark mode */
html[data-bs-theme="dark"] .top-banner::after {
  transition-delay: 0;
  opacity: 0; /* Fade out light mode */
}

html[data-bs-theme="dark"] .top-banner::before {
  transition-delay: 0;
  opacity: 1; /* Fade in dark mode */
}

.texts {
  color: var(--dark);
  padding: 15px;
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.9);
}

html[data-bs-theme="dark"] .texts {
  background-color: var(--dark);
  color: var(--light);
}

h1 {
  font-size: 3.25rem;
  font-weight: bold;
}

.toggle-wrapper {
  display: flex;
  height: 1.5rem;
  width: 2.5rem;
  cursor: pointer;
  align-items: center;
  border-radius: 9999px;
  background: var(--dark);
  padding: 2px;
}

html[data-bs-theme="dark"] nav.navbar-fixed .toggle-wrapper {
  background: var(--light);
}

.toggle-circle {
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
  background: var(--light);
  transition: all 0.3s ease-in-out;
}

html[data-bs-theme="dark"] nav.navbar-fixed .toggle-circle {
  background-color: var(--dark);
}

html[data-bs-theme="dark"] .dark-toggle-text span {
  color: var(--dark);
}

html[data-bs-theme="dark"] nav.navbar-fixed .dark-toggle-text span {
  color: var(--light);
}

html[data-bs-theme="dark"] label div.toggle-circle {
  transform: translateX(19px);
}

html[data-bs-theme="light"] label div.toggle-circle {
  transform: translateX(0);
}

html[data-bs-theme="dark"] #dark-toggle:checked ~ label div.toggle-circle {
  transform: translateX(19px);
}

html[data-bs-theme="light"] #dark-toggle:checked ~ label div.toggle-circle {
  transform: translateX(0);
}

#latest-tech {
  width: 100vw;
  padding: 4rem 0;
}

#latest-tech .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#latest-tech .items {
  flex: 1 1 400px;
  max-width: 100%;
  flex-grow: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

@keyframes showCardOnViewport {
  from {
    top: 5rem;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.latest-tech-card.show {
  animation: showCardOnViewport 1s;
  opacity: 1;
  z-index: 5;
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

.latest-tech-card.hidden {
  top: 5rem;
  opacity: 0;
}

.latest-tech-card:hover {
  transform: scale(0.95);
}

.see-more-btn {
  display: inline-flex;
  background-color: black;
  color: var(--light);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  padding: 0.75rem;
  margin: 1.5rem 0 0;
}

html[data-bs-theme="dark"] .see-more-btn {
  background-color: var(--light);
  color: var(--dark);
}

.btn-arrow {
  width: 0.75rem; 
  height: 0.75rem; 
  border-top: 3px solid var(--light); 
  border-right: 3px solid var(--light); 
  transform: rotate(45deg); 
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  color: var(--light);
}

html[data-bs-theme="dark"] .btn-arrow {
  color: var(--dark);
  border-top: 3px solid var(--dark); 
  border-right: 3px solid var(--dark);
}

#trend {
  background: #f2f2f2;
  padding: 4rem 0;
  transition: all 0.3s ease-in-out;
}

html[data-bs-theme="dark"] #trend {
  background: #25282c;
}

/* For larger screens (default layout) */
.row {
  display: flex;
  align-items: center;
}

.col-lg-6 {
  width: 50%;
}

/* Foldable image animation */
@keyframes showFoldableOnViewport {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* AI image animation */
@keyframes showAiIllustrationOnViewport {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.ai-image.show {
  animation: showAiIllustrationOnViewport 1s ease;
  background: url("../img/ai-illustration.png") no-repeat center;
  background-size: contain;
  height: 100%;
  min-height: 300px;
  opacity: 1;
  transform: translateX(0);
  cursor: pointer;
  transition: scale 0.3s ease-in-out;
}

.ai-image.hidden {
  transform: translateX(100%);
  opacity: 0;
}

.foldable-image.show {
  animation: showFoldableOnViewport 1s ease;
  background: url("../img/zfold6.png") no-repeat center;
  background-size: contain;
  height: 100%;
  min-height: 300px;
  opacity: 1;
  transform: translateX(0);
  cursor: pointer;
  transition: scale 0.3s ease-in-out;
}

.foldable-image.hidden {
  transform: translateX(-100%);
  opacity: 0;
}

.ai-image.show:hover,
.foldable-image.show:hover {
  scale: 110%;
}

#aboutme {
  padding: 4rem 0;
  background: #f2f2f2;
  transition: all 0.3s ease-in-out;
}

html[data-bs-theme="dark"] #aboutme {
  background: #25282c;
}

.profile-image {
  overflow: hidden;
}

.profile-img {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
  min-height: 500px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .profile-image svg {
    transform: translateY(6rem);
  }
}

.profile-info {
  transform: translateY(-1rem);
  background: white;
}

html[data-bs-theme="dark"] .profile-info {
  background-color: rgb(60, 60, 60);
  color: var(--light);
}

.foldable-row {
  padding-top: 8rem;
}

/* For smaller screens (mobile layout) */
@media (max-width: 768px) {
  .ai-row {
    flex-direction: column-reverse; /* Change the order: image first, text second */
    text-align: center;             /* Center-align the text */
  }

  .foldable-row {
    padding-top: 0;
  }

  .col-lg-6 {
    width: 100%; /* Make each column take the full width */
  }

  .ai-image,
  .foldable-image {
    height: 300px;
    margin-bottom: 2rem;
  }

  .profile-img {
    height: 500px;
    width: 500px;
    margin: 4rem auto 0 auto;
  }
}

#inventions {
  padding: 6rem 0;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.swiper-wrapper {
  height: 100%;
  justify-content: space-between;
}

.swiper-slide {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

.myCard {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  height: auto;
  width: 15rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 50;
}

.myCard .card-content .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  border-radius: 20px;
  overflow: hidden;
}

.myCard .card-content .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.social-media {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}

.link-btn a {
  max-width: 40px; /* Initial max-width to show only the icon */
  height: 40px;
  border: 2px solid #666777;
  border-radius: 50px;
  padding: 0.65rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden; /* Hides the text initially */
  transition: max-width 0.3s ease, opacity 0.3s ease; /* Smooth transition for max-width */
  transform: scale(1.1);
  cursor: pointer;
  color: var(--dark);
  text-decoration: none;
}

html[data-bs-theme="dark"] .link-btn a {
  color: var(--light);
}

.link-btn a span {
  opacity: 0; /* Hides the text initially */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
  white-space: nowrap; /* Prevents text from breaking into a new line */
}

.link-btn:hover a {
  max-width: 7.5rem; /* Expands to fit icon and text */
  color: var(--light);
  animation: gradient-animation 2s ease-in-out forwards; /* Gradient animation on hover */
}

.link-btn:hover a span {
  opacity: 1; /* Reveals the text */
}

/* Gradient appears only on hover */
.link-btn:nth-child(1):hover a {
  background: linear-gradient(45deg, #fd1d1d, #833ab4, #fd1d1d); /* Gradient background on hover */
  background-size: 300% 300%; /* Allows for animation */
}

.link-btn:nth-child(2):hover a {
  background: linear-gradient(45deg, #2ff00d, #26a315, #2ff00d); /* Gradient background on hover */
  background-size: 300% 300%; /* Allows for animation */
}

.link-btn:nth-child(3):hover a {
  background: linear-gradient(45deg, #c5221f, #fbbc04, #34a853); /* Gradient background on hover */
  background-size: 300% 300%; /* Allows for animation */
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.contact {
  padding-top: 1rem;
  padding-bottom: 6rem;
  transition: all 0.3s ease-in-out;
}

html[data-bs-theme="dark"] .contact {
  color: var(--light);
}

.contact form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputForm {
  position: relative;
  width: 100%;
  max-width: 48rem;
}

.inputForm .inputBox {
  width: 100%;
  padding: 15px;
  border: 1.5px solid rgb(139, 138, 138);
  background: #f2f2f2;
  border-radius: 18px;
  outline: none;
  color: var(--dark);
  font-size: 1em;
  transition-duration: 0.5s;
}

.inputForm textarea {
  resize: none;
  min-height: 150px;
  overflow: auto;
}

html[data-bs-theme="dark"] .inputForm .inputBox {
  background-color: #292c30;
}

.inputForm span {
  position: absolute;
  left: 0;
  padding: 15px;
  pointer-events: none;
  font-size: 1em;
  color: rgb(160, 160, 160);
  text-transform: capitalize;
  transition-duration: 0.5s;
}

.inputForm .inputBox:valid,
.inputForm .inputBox:focus,
.inputForm .inputBox.has-value {
  border: 1.75px solid var(--dark);
}

html[data-bs-theme="dark"] .inputForm .inputBox:valid,
html[data-bs-theme="dark"] .inputForm .inputBox:focus,
html[data-bs-theme="dark"] .inputForm .inputBox.has-value {
  border: 1.75px solid var(--light);
  color: var(--light);
}

.inputForm .inputBox:valid ~ span,
.inputForm .inputBox:focus ~ span,
.inputForm .inputBox.has-value ~ span {
  color: var(--dark);
  transform: translateX(10px) translateY(-10px);
  font-size: 0.85em;
  padding: 0 10px;
  background-color: #f2f2f2;
  border: 1.75px solid var(--dark);
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

.contact form button {
  padding: 0.5rem 1rem;
  outline: none;
  border: 1.5px solid #666777;
  background-color: transparent;
  color: var(--dark);
  border-radius: 1.5rem;
  transition: all 0.4s ease-in-out;
}

.contact form button:hover {
  background-color: var(--dark);
  color: var(--light);
}

html[data-bs-theme="dark"] .contact form button {
  border: 1.5px solid var(--light);
  color: var(--light);
}

html[data-bs-theme="dark"] .contact form button:hover {
  background-color: var(--light);
  color: var(--dark);
}

footer {
  width: 100vw;
  background-color: #0c73bd;
  color: var(--light);
  transition: all 0.3s ease-in-out;
}

footer .container {
  padding: 4rem 3rem;
}

html[data-bs-theme="dark"] footer {
  background-color: #292c30;
}

.footer-cols:nth-child(1) address {
  margin-bottom: 0;
  margin: 8px 0;
  color: var(--light);
  font-weight: 500;
}

.footer-cols:nth-child(1) address a {
  color: var(--light);
}

.footer-cols ul li a {
  text-decoration: none;
  color: var(--light);
}

.miscellaneous {
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

@keyframes showAlert {
  from {
    transform: translateY(12rem);
  }
  to {
    transform: translateY(-2rem);
  }
}

@keyframes hideAlert {
  from {
    transform: translateY(-2rem);
  }
  to {
    transform: translateY(12rem);
  }
}

.miscellaneous .alert-box {
  width: 100%;
  height: 100%;
  max-width: 24rem;
  border-radius: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
  transform: translateY(12rem);
}

.miscellaneous .alert-box.show {
  animation: showAlert 0.5s forwards;
}

.miscellaneous .alert-box.hide {
  animation: hideAlert 0.5s forwards;
}

.miscellaneous a {
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  outline: none;
  background-color: var(--dark);
  border-radius: 9999px;
  align-self: flex-end;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.miscellaneous a.show {
  opacity: 1;
}

html[data-bs-theme="dark"] .miscellaneous a {
  background-color: var(--light);
}

.miscellaneous a button {
  background: transparent;
  border: 0;
  outline: 0;
  color: var(--light);
}

html[data-bs-theme="dark"] .miscellaneous a button {
  color: var(--dark);
}

.miscellaneous a button i::before {
  transform: scale(1.5);
}